@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
.card {
  display: flex;
  column-gap: 10px;
  background-color: #ffffff;
  max-width: 600px;
  border-radius: 10px;
}
.card_img {
  width: 50%;
  height: 100%;
}
.card_body {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.category {
  margin-top: 30px;
  font-size: 21px;
  letter-spacing: 8px;
  color: hsl(228, 12%, 48%);
}
.card_title {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}
.card_description {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}
.card_price {
  margin-top: 20px;
  font-size: 29px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.card_price span {
  margin-left: 10px;
  text-decoration: line-through;
  font-size: 16px;
  color: hsl(228, 12%, 48%);
}
.card_button {
  margin-top: 20px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 19px;
  display: flex;
  column-gap: 7px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 10px;
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    max-width: 250px;
    padding-bottom: 50px;
  }
  .card_img {
    width: 100%;
    height: 200px;
  }
}
